__pycache__/
*.pyc
.env
backend/.venv/
backend/db.env
db.sqlite3
node_modules/
dist/
staticfiles/
media/
.DS_Store
scrape/*.html
Website_Development_Payment_Agreement_Promissory_Note_FL_Prerak_Patel_FinanceFee_Fillable.pdf
Website_Development_Payment_Agreement_Promissory_Note_FL_Prerak_Patel_FinanceFee_Revised.docx
docs/